li{
	display:inline;
}
h1{
	text-align:center;	
}
body, html {
 position:relative; 
 min-height:100%;
}
body {
    padding: 10px !important;   
}
.nav, .pagination, .carousel, .panel-title a {
	cursor:pointer; 
}
.logo{
	width:80px;
}
.flag{
	width:49%;
}
.map{
	width:49%;
}
.country{
	border: black 2px solid;
	background-color: linen;
	width: 500px;
	margin-left:auto;
	margin-right:auto;
}
.navbar, .home{
	width: 30%;
	margin-left:auto;
	margin-right:auto;	
}
.navbar li{
	border: white 1px solid;
	background-color: white;
	font-size: 24px;
	margin: 2px;
}
.cTable{
	width:100%;
	border: 1px solid #000;
}
.cTable td{ 
	padding:7px; 
	border:#4e95f4 1px solid;
}
.cTable tr{
	background: #b8d1f3;
}
.cTable tr:hover {
    background-color: #ffff99;
}
#load{
	margin-left:auto;
	margin-right:auto;	
}

.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('./loading-animation.gif');
}
.av-con { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter, .animate-view.ng-leave {
    transition:1s linear all;
}
.animate-view.ng-enter { opacity:0; z-index:100;}
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99;}
.animate-view.ng-leave.ng-leave-active { opacity:0; }
